<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222549274288-il3vb9a9m8btu5k3fl9e4sn9qs7cc22g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222549274288-il3vb9a9m8btu5k3fl9e4sn9qs7cc22g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>222549274288-3msfhuaifhthoc4lina9i8bgg36igg7h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFueVKDuwCnjt-KR98Mnqf9GtMy8T8usM</string>
	<key>GCM_SENDER_ID</key>
	<string>222549274288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studentloan.guide</string>
	<key>PROJECT_ID</key>
	<string>student-loan-33cd9</string>
	<key>STORAGE_BUCKET</key>
	<string>student-loan-33cd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222549274288:ios:3e9ede1a1677a306cbd575</string>
</dict>
</plist>